@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";
/* Importación PowerGrid */
@import "../../vendor/power-components/livewire-powergrid/resources/css/tailwind4.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));
/* Importación PowerGrid */
@source '../../app/Livewire/*Table.php';
@source '../../app/Livewire/**/*Table.php';
@source '../../vendor/power-components/livewire-powergrid/src/Themes/Tailwind.php';
@source '../../vendor/power-components/livewire-powergrid/resources/views/**/*.php';
/* Aquí terminan */

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    /* Colores PowerGrid */
    --color-pg-primary-50: oklch(0.985 0 0);
    --color-pg-primary-100: oklch(0.97 0 0);
    --color-pg-primary-200: oklch(0.922 0 0);
    --color-pg-primary-300: oklch(0.87 0 0);
    --color-pg-primary-400: oklch(0.708 0 0);
    --color-pg-primary-500: oklch(0.556 0 0);
    --color-pg-primary-600: oklch(0.439 0 0);
    --color-pg-primary-700: oklch(0.371 0 0);
    --color-pg-primary-800: oklch(0.269 0 0);
    --color-pg-primary-900: oklch(0.205 0 0);
    --color-pg-primary-950: oklch(0.145 0 0);
    /* Aquí terminan colores PowerGrid */

    /* Estilos personalizados */
    --text-tiny: 0.625rem;
    --primary-alamo: #25998b;
    --primary-delete: #40598b;
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

/* input:focus[data-flux-control],
textarea:focus[data-flux-control], */
select:focus[data-flux-control] {
    /* @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground; */
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/* flux\\:input input {
    @apply text-black;
} */


#toaster {
    z-index: 99999 !important; /* Tomen eso, modales */
}


/*ESTILOS PARA LOS BOTONES PRINCIPALES DEL SISTEMA*/

.btn-primary {
    background-color: #25998b;
    color: #ffffff;
    padding: 0.5rem 1rem; /* igual a Tailwind px-4 py-2 */
    border-radius: 0.375rem; /* rounded */
    border: 1px solid;
    /* border: 1px solid transparent; */
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
    outline: none; /* quita el outline por defecto */
}

.btn-primary:hover,
.btn-primary:focus {
    /* capa blanca semitransparente */
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.1);
}

.btn-intermediary {
    background-color: #2974ee;
    color: #ffffff;
    padding: 0.5rem 1rem; /* igual a Tailwind px-4 py-2 */
    border-radius: 0.375rem; /* rounded */
    border: 1px solid transparent;
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
    outline: none; /* quita el outline por defecto */
}

.btn-intermediary:hover,
.btn-intermediary:focus {
    /* capa blanca semitransparente */
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.1);
}

.btn-change {
    background-color: #43434c;
    color: #ffffff;
    padding: 0.5rem 1rem; /* igual a Tailwind px-4 py-2 */
    border-radius: 0.375rem; /* rounded */
    border: 1px solid transparent;
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
    outline: none; /* quita el outline por defecto */
}

.btn-change:hover,
.btn-change:focus {
    /* capa blanca semitransparente */
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.1);
}

.btn-deleted {
    background-color: #e32a34;
    color: #ffffff;
    padding: 0.5rem 1rem; /* igual a Tailwind px-4 py-2 */
    border-radius: 0.375rem; /* rounded */
    border: 1px solid transparent;
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
    outline: none; /* quita el outline por defecto */
}

.btn-deleted:hover,
.btn-deleted:focus {
    /* capa blanca semitransparente */
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.1);
}

.btn-table {
    font-size: 1rem; /* texto un poco más pequeño */
    padding: 0.25rem 0.75rem; /* reduce px-4 py-2 a px-3 py-1 */
}

.btn-files{
    font-size: 12px;
    padding: 0 0.4rem;
}

/* ESTILOS PARA TODOS LOS INPUT */

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    color: #000000;
}

/* ESTILOS PARA LOS INPUT SELECT */

/* ESTILOS PARA LOS CONTENEDORES Y GRIDS DE LOS FORMULARIOS */

/* Contenedor formularios */
.form-container {
    border: 1px solid #d1dadb;
    border-radius: 0.5rem;
    margin: 1rem 0 2rem;
}

/* Encabezado del formulario */
.form-container__header {
    background-color: #e5e7eb;
    color: #000;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

/* Cuerpo con padding adaptativo */
.form-container__content {
    padding: 1.5rem 1rem;
}

@media (min-width: 768px) {
    .form-container__content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* Grid base */
.form-grid {
    display: grid;
}

/* Variante 1 columna */
.form-grid--1 {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    /* max-width: 36rem; */
    max-width: 45rem;
    padding-bottom: 16px;
}

/* Hacer que los inputs ocupen todo el ancho de la columna */
.form-grid--1 input,
.form-grid--1 select,
.form-grid--1 textarea {
    width: 100%;
}

/* Variante 2 columnas */
.form-grid--2 {
    grid-template-columns: repeat(1, 1fr);
    /* gap: 2rem; */
    gap: 2rem 5rem;
    padding-bottom: 16px;
}

@media (min-width: 768px) {
    .form-grid--2 {
        grid-template-columns: repeat(2, 1fr);
        /* el gap ya está declarado arriba y funciona tanto en móvil como en desktop */
    }
}

/* Variante 2 columnas */
.form-grid--2-center {
    grid-template-columns: repeat(1, 1fr);
    /* gap: 2rem; */
    /* gap: 2rem 5rem; */
    padding-bottom: 16px;
}

@media (min-width: 800px) {
    .form-grid--2-center {
        grid-template-columns: 60% 40%;
        /* el gap ya está declarado arriba y funciona tanto en móvil como en desktop */
    }
}



/* Asegurar ancho completo de inputs en cada columna */
.form-grid--2 input,
.form-grid--2 select,
.form-grid--2 textarea {
    width: 100%;
}

/* Variante 3 columnas (sin cambios) */
.form-grid--3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding-bottom: 16px;
}

@media (min-width: 768px) {
    .form-grid--3 {
        grid-template-columns: repeat(3, 1fr);
    }
}


.form-grid-3-variation {
    display: grid;
    grid-template-columns: 180px 50%;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}


.form-grid-2-variation {
    display: grid;
    grid-template-columns: 40% 58%;
    gap: 1rem;
    /* align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem; */
}



/* ESTILOS PARA EL CONTENEDOR DEL ERROR Y AJUSTAS EL FLUX FIELD */

/* Aplica al contenedor que envuelve el <flux:error> */
.error-container {
  min-height: 1.30rem; /* altura aproximada de tu texto de error */
}

/* Para asegurar orden vertical dentro del field */
.flux-field {
  display: flex;
  flex-direction: column;
}



/* ESTILOS PARA LOS FORMULARIOS DE RADIOS */



.form-grid-radios {
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

/* Estilos para los textos */
.radio-label {
    text-align: right;
    padding-right: 1rem;
    font-weight: 500;
    color: #333;
    font-size: 14px;
}


.text-label-radio {
    font-size: 12px;
}



/* Para los radios horizontales */
.radio-group-horizontal {
    display: flex;
    gap: 1.5rem;
}

/* Para los radios verticales */
.radio-group-vertical {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/* SOBREESCRIBIR ESTILOS PARA LOS INPUT DE CARACTERÍSTICAS URBANAS, USANDO A LA PAR .form-grid-radios */

.form-grid-urban {
    grid-template-columns: 20% 55% 25%;
}

.urban-infr {
    margin-bottom: 0;
}




/* Estilos comunes para las etiquetas de los radio */
.radio-group-horizontal label,
.radio-group-vertical label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

/* Aplica solo a flux:label dentro del form-grid-1-center */
.label-variation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #333;
    width: 100%;
}

/* Responsividad */
@media (max-width: 768px) {
    .form-grid-3-variation {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .label-variation {
        justify-content: flex-start;
    }
}

/* @media (min-width: 768px) {
    .form-grid-1-center {
        grid-template-columns: 40% 60%;
    }
} */

/* ESTILOS PARA EL CUSTOM FLUX:HEADING */
.custom-flux-heading {
    font-size: 24px;
    font-weight: bolder;
    color: #0f1922;
    margin-bottom: 0;
}

.custom-flux-subheading {
    font-size: 14px;
    font-weight: bold;
    color: #343f48;
}

/* ESTILOS ENLACE DE RECUPERACIÓN DE CONTRASEÑA */
.password-link-custom {
    text-decoration: none;
    border-bottom: 1px solid #ccc; /* tu borde gris */
    /* padding: 5px 10px; */
    color: #000;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.password-link-custom:hover {
    border-color: #666;
    color: #000;
}

/* ESTILOS PARA LOS LABEL, ASÍ COMO CLASES AUXILIARES */

/* ui-label {
    color: #000;
    font-size: 14px;
    font-weight: 400;
} */

/* PEQUEÑO MARGEN PARA MEJORAR ESTILOS EN LABEL DE LOS ELEMENTOS INPUT SELECT DE FLUX */
/* .margin-input-to-label {
    margin-top: 6px;
}
 */
/* ESTILOS PARA EL ELEMENTOS SUP CON EL ASTERISCO QUE INDICA QUE UN INPUT ES REQUERIDO */
.sup-required {
    color: red;
    font-weight: bold;
    font-size: 1rem;
}

/* .span-label-required {
    border-bottom: 4px solid red;
} */

.password-input-wrapper [data-flux-icon] {
    color: #6b7280; /* gray-500 */
    cursor: pointer;
    transition: color 0.2s ease;
}

.show-icon-custom [data-flux-icon] {
    color: #7a808b; /* text-gray-500 */
    cursor: pointer;
    transition: color 0.2s ease;
}

.show-icon-custom [data-flux-icon]:hover {
    color: #000; /* text-black */
}

.form-group-horizontal-right {
  /* 1. Convierte el div en un contenedor flexible */
  display: flex;

  /* 2. Empuja todo el contenido hacia el final (la derecha) */
  justify-content: flex-end;

  /* 3. Alinea el label y el input verticalmente al centro */
  align-items: center;

  /* 4. Crea un espacio entre el label y el input */
  gap: 12px;


    /* Línea añadida para solucionar el problema */
  width: 100%;
 }

/* 1. Úsala en el div del grid para que ocupe el ancho completo */
.form-grid--full-width {
    max-width: none; /* Anula el max-width de 45rem */
}



/* ESTILOS PARA ELEMENTOS DE CONSTRUCCION */
.menu-item-personalized {
  padding: 0.5rem 1rem;               /* ajusta el padding si lo necesitas */
  transition: background-color .2s;
}

.menu-item-personalized:hover {
  background-color: #c0c0c0;         /* equivale a gray-100 en Tailwind */
  color: #1f2937;                    /* gray-800, opcional si quieres cambiar el texto */
}


ui-close[data-flux-modal-close] > button {
    cursor: pointer;
}

.btn-buildins:hover {
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
    outline: none; /* quita el outline por defecto */
}


/* ESTILOS PARA LOS SUGGEST TEXT */
.suggested-text {
    font-size: 12px;
    color: #6b7280; /* gray-500 */
    text-align: left;
    /* margin-top: 4px; */
}
.suggested-text a {
    color: #25998b; /* primary-alamo */
    text-decoration: underline;
    cursor: pointer;
}
.suggested-text a:hover {
    color: #1e7469; /* primary-alamo más oscuro */
}
